<div class="rounded overflow-hidden shadow">
  <table class="table table-dark table-striped">
    <tr>
      <td valign="top">
        <dl class="dl-horizontal">
          <dt>ID:</dt>
          <dd>{{ pet.id }}</dd>
          <dt>Nombre:</dt>
          <dd>{{ pet.name }}</dd>
          <dt>Fecha de nacimiento:</dt>
          <dd>{{ pet.birthDate | date }}</dd>
          <dt>Type:</dt>
          <dd>{{ pet.typeName }}</dd>
        </dl>
      </td>
    </tr>
  </table>
</div>

<div class="form-group">
  <a
    routerLink="/pet-add/{{ pet.ownerId }}/{{ pet.id }}"
    routerLinkActive="active"
  >
    <button type="button" class="btn btn-warning col-1">Editar</button></a
  >
  <button type="button" class="btn btn-danger col-1" disabled>Eliminar</button>

  <button type="button" class="btn btn-success col-1" disabled>
    Add visit
  </button>
</div>
